[submodule "benchmark/thirdparty/gbenchmark"]
	path = benchmark/thirdparty/gbenchmark
	url = https://github.com/google/benchmark.git
[submodule "thirdparty/xxHash"]
	path = external/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "thirdparty/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/lz4"]
	path = external/lz4
	url = https://github.com/lz4/lz4.git
[submodule "external/ShaderMake"]
	path = external/ShaderMake
	url = https://github.com/NVIDIA-RTX/ShaderMake.git
